<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Atualizar Turma</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Atualizar Turma</h1>
    <form action="{{ url_for('turmas.atualizar_turma', turma_id=turma.id) }}" method="post">
        <label for="descricao">Descrição:</label>
        <input type="text" id="descricao" name="descricao" value="{{ turma.descricao }}" required>
        <label for="professor_id">Professor:</label>
        <select id="professor_id" name="professor_id" required>
            {% for professor in Professor.get_all_professores() %}
                <option value="{{ professor.id }}" {% if turma.professor_id == professor.id %}selected{% endif %}>{{ professor.nome }}</option>
            {% endfor %}
        </select>
        <label for="ativo">Ativo:</label>
        <select id="ativo" name="ativo">
            <option value="sim" {% if turma.ativo %}selected{% endif %}>Sim</option>
            <option value="nao" {% if not turma.ativo %}selected{% endif %}>Não</option>
        </select>
        <button type="submit">Atualizar</button>
    </form>
</body>
</html>
