<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Atualizar Aluno</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Atualizar Aluno</h1>
    <form action="{{ url_for('alunos.atualizar_alunos', id_aluno=aluno.id) }}" method="post">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" value="{{ aluno.nome }}" required>
        <label for="turma_id">Turma:</label>
        <select id="turma_id" name="turma_id" required>
            {% for turma in Turma.get_all_turmas() %}
                <option value="{{ turma.id }}" {% if aluno.turma_id == turma.id %}selected{% endif %}>{{ turma.descricao }}</option>
            {% endfor %}
        </select>
        <label for="data_nascimento">Data de Nascimento:</label>
        <input type="date" id="data_nascimento" name="data_nascimento" value="{{ aluno.data_nascimento }}" required>
        <label for="nota_primeiro_semestre">Nota Primeiro Semestre:</label>
        <input type="number" id="nota_primeiro_semestre" name="nota_primeiro_semestre" step="0.01" value="{{ aluno.nota_primeiro_semestre }}">
        <label for="nota_segundo_semestre">Nota Segundo Semestre:</label>
        <input type="number" id="nota_segundo_semestre" name="nota_segundo_semestre" step="0.01" value="{{ aluno.nota_segundo_semestre }}">
        <button type="submit">Atualizar</button>
    </form>
</body>
</html>
