<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Excluir Atividade</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Excluir Atividade</h1>
    <p>Tem certeza que deseja excluir a atividade com o enunciado <strong>{{ atividade['enunciado'] }}</strong>?</p>
    <form action="{{ url_for('atividades.excluir_atividade', id_atividade=atividade['id_atividade']) }}" method="post">
        <button type="submit">Excluir</button>
    </form>
    <a href="{{ url_for('atividades.listar_atividades') }}">Cancelar</a>
</body>
</html>
