<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista de Professores</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Lista de Professores</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Idade</th>
                <th>Matéria</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for professor in professores %}
            <tr>
                <td>{{ professor.id }}</td>
                <td>{{ professor.nome }}</td>
                <td>{{ professor.idade }}</td>
                <td>{{ professor.materia }}</td>
                <td>
                    <a href="{{ url_for('professores.atualizar_professor', professor_id=professor.id) }}">Atualizar</a>
                    <a href="{{ url_for('professores.excluir_professor', professor_id=professor.id) }}">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('professores.criar_professor') }}">Criar Novo Professor</a>
</body>
</html>
